<?php

  /* @function boolean send_sms_by_api(string $mobile, string $message)
   * Send SMS trough an API
   * @param mobile mobile number
   * @param message text to send
   * @return 1 if message sent, 0 if not
   */
  function send_sms_by_api($mobile, $message) {
    $api_user = "{{ smsapi_user }}";
    $api_pass = "{{ smsapi_pass }}";

    $url = "https://api.smsapi.com/sms.do";
    $data = array(
            username => $api_user,
            password => $api_pass,
            to => $mobile,
            from => "mimacom",
            format => "json",
#       test => "1",
            details => "1",
            flash => "1",
            fast => "1",
            message => $message
    );

    $options = array(
            'http' => array(
            'header'  => "Content-type: application/x-www-form-urlencoded\r\n",
            'method'  => 'POST',
            'content' => http_build_query($data),
        )
    );

    $context  = stream_context_create($options);
    $result = file_get_contents($url, false, $context);
    return 1;
  }
?>
